<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <span class="round alert label"><li class="napaka"><%= msg %></li></span>
      <% end %>
      </ul>
    </div>
  
<form>
  <div class="row">
    <div class="large-8 columns">
      <div class="glava"><h6><%= f.label :naslov %></h6></div>
      <%= f.text_field :naslov, placeholder: "Naslov Älanka", :required => true %>
    </div>
  </div>
<% end %>
  
        
  <div class="row">
    <div class="large-10 columns">
      <div class="glava">    
        <h6><%= f.label :opis %></h6></div>
            <%= f.text_area :opis, placeholder: "Polje za vnos", class: "ckeditor", :required => true %>
      </div>
    </div>
    <hr>  
    <div class="row">
      <div class="large-12 columns">
        <%= f.submit :Save!, class: "small button secondary" %>
        <%= link_to 'Admin panel', admin_path, class: "small button secondary" %>
        <%= link_to 'Back to blogs', blogs_path, class: "small button secondary" %>
      </div>   
    </div>
<% end %>  
</form>