<h6><%=h content_for(:title, @blog.naslov ) %></h6>


<div class="row">
	<div class="large-12 columns blog">
	<fieldset>
	<legend><p>Published on <%= @blog.created_at.strftime('%b %d, %Y') %><br>
	Article #<%=  @blog.id %></p></legend>
		<h6><strong><%= @blog.naslov %></strong></h6>
		<ul class="side-nav">
			<li class="divider"></li>
			<li><%= @blog.opis.html_safe %></li>
			<li class="divider"></li>
		</ul>	
			<p class="go_back">&#8629;<%= link_to 'Back', admin_path, class: "go_back" %></p>
		
	
	</fieldset>	
	</div>
</div>




