<h6><%=h content_for(:title, @blog.naslov ) %></h6>
<p id="notice"><%= notice %></p>  

<div class="row">
	<div class="large-10 columns blog">
		<h4><%= @blog.naslov %></h4>
			<ul class="side-nav">
			<li class="divider"></li>
			<li><%= sanitize(@blog.opis) %></li>
			<li class="divider"></li>
		</ul>

	</div>
</div>


<%= link_to 'Back', blogs_articles_path %>
