<!-- Blog view start //Title -->
<h6><%=h content_for(:title, "Blog Articles / Blaz Sajovic") %></h6>
<div class="row">
	<div class="large-7 small-6 columns">
		<div class="glava">
			<h3>The Blog</h3>
			<p> talk talk, talk <span>:-)</span> Read about new updates.</p>
		</div>
	</div>


	<div class="large-5 small-6 columns">
		<div class="time-curent">
			
			
			
			<h5>Today is: 
			<%= Time.now.strftime("%A %d.%m.%Y") %></h5>
			<hr>
			<ul class="no-bullet">	
				<li class="current">Current Time:</li>
					<ul>
						<li>Hong Kong: <%= Time.now.in_time_zone("Hong Kong").time.strftime("%H:%M:%S") %></li>
						<li>London: <%= Time.now.in_time_zone("London").time.strftime("%H:%M:%S")%></li>
						<li>Sydney: <%= Time.now.in_time_zone("Sydney").time.strftime("%H:%M:%S")%></li>
						<li>New York: <%= Time.now.in_time_zone("Eastern Time (US & Canada)").time.strftime("%H:%M:%S") %></li>
						<li>Ljubljana: <%= Time.now.strftime("%H:%M:%S") %></li>
					</ul>	
			</ul>	
				
		</div>
	</div>


</div>
<!-- Blog view start //Blogs list -->
<div class="row"> 
	<div class="large-12 columns">
		<div class="blogs">

			
	<% for blog in @blogs %>
		<ul class="side-nav clanki">
		<fieldset class="okvir">
		<legend class="legend">Article #<%=  blog.id %></legend>		
			<li class="naslov"><%= link_to blog.naslov, blog %></li>
			<li class="ustvarjen">Published on <%= blog.created_at.strftime('%b %d, %Y') %>, by Blaz.</li>
			<li class="divider"></li>
			<br>
			<li class="opis"><%= truncate(blog.opis.to_s.html_safe, length: 200) %></li>
			<li class="divider"></li>	
			<li class="show-more"><%= link_to "Show more...", blog %></li>
		</ul>
		</fieldset>
	<% end %>
		</div>
	</div>
</div>