<!-- Blog view start //Title -->
<h6><%=h content_for(:title, "Blog Articles / Blaz Sajovic") %></h6>
<div class="row">
	<div class="large-7 small-11 columns">
		<div class="glava">
			<h3>The Blog</h3>
			<p> talk talk, talk <span>:-)</span> Read about new updates.</p>
		</div>
	</div>





</div>
<!-- Blog view start //Blogs list -->
<div class="row"> 
	<div class="large-12 small-12 columns">
		<div class="blogs">

			
	<% for blog in @blogs %>
		<ul class="side-nav clanki">
		<fieldset class="okvir">
		<legend class="legend">Article #<%=  blog.id %></legend>		
			<li class="naslov"><%= link_to blog.naslov, blog, class: "naslov" %></li>
			<li class="ustvarjen">Published on <%= blog.created_at.strftime('%b %d, %Y') %>, by Blaz.</li>
			<li class="divider"></li>
			<br>
			<li class="opis"><%= blog.opis.html_safe %></li>
			<li class="divider"></li>	
			<li class="show-more"><%= link_to "Show more...", blog, class: "show-more" %></li>
		</ul>
		</fieldset>
	<% end %>
		</div>
	</div>
</div>

