<!-- Blog view start //Title -->
<h6><%=h content_for(:title, "Blog Articles / Blaz Sajovic") %></h6>
<div class="row">
	<div class="large-12 columns">
		<div class="glava">
			<h3>The Blog</h3>
			<p> talk talk, talk <span>:-)</span> Read about new updates.</p>
		</div>
	</div>
</div>
<!-- Blog view start //Blogs list -->
<div class="row"> 
	<div class="large-10 columns">
		<div class="blogs">

			
	<% for blog in @blogs %>
		<ul class="side-nav clanki">
		<fieldset class="okvir">
		<legend class="legend">"Show more"</legend>		
			<li class="naslov"><%= link_to blog.naslov, blog %></li>
			<li class="ustvarjen">Published on <%= blog.created_at.strftime('%b %d, %Y') %>. by Blaz</li>
			<li class="divider"></li>
			<br>
			<li class="opis"><%= sanitize(blog.opis) %></li>
			<li class="divider"></li>	
			<li class="show-more"><%= link_to "Show more...", blog %></li>
		</ul>
		</fieldset>
	<% end %>
		</div>
	</div>


	<div class="large-2 columns">
		<div class="panel">
			
			
			<ul class="side-nav time-curent">
			<li>Current Time In</li>
			<li><%= l Time.now %></li>
				<ul>
					<li>London</li>
				</ul>	
			</ul>	
				
		</div>
	</div>
</div>