<h6><%=h content_for(:title, "Contact Me / Blaz Sajovic") %></h6>
<div class="row">
<div class="large-8 large-offset-1 columns">
	<div class="panel">
		
	</div>
</div>

</div>

<div class="row">
	<div class="large-10 columns">
		
			

		<form>
			<fieldset>
			<legend>"I don't bite"</legend>
				<div class="row">			
					<div class="large-6 small-12 columns">	
						<input type="text" placeholder="First Name">
					</div>	
					<div class="large-6 small-12 columns">
						<input type="text" placeholder="email@example.com">	
					</div>
				</div>	
				<div class="row">
	
					<div class="large-12 columns">
						<div class="row collapse">
							<div class="large-5 columns">
							<span class="prefix">your website</span>
							</div>
						<div class="large-7 columns">	
							<input type="text" placeholder="wwwwsaas-sd,com">
						</div>
					</div>
				
						<label>pisi sm kar </label>
						<textarea placeholder="napisisissss"></textarea>	
					
				</div>			
			</fieldset>	
		</form>		
	</div>
		<div class="large-5 small-6 columns">
		<div class="time-curent">
			
			
			
			<h5>Today is: 
			<%= Time.now.strftime("%A %d.%m.%Y") %></h5>
			<hr>
			<ul class="no-bullet">	
				<li class="current">Current Time:</li>
					<ul>
						<li>London: <%= Time.now.in_time_zone("London").time.strftime("%H:%M:%S")%></li>
						<li>Ljubljana: <%= Time.now.in_time_zone("Ljubljana").time.strftime("%H:%M:%S") %></li>
						<li>Hong Kong: <%= Time.now.in_time_zone("Hong Kong").time.strftime("%H:%M:%S") %></li>
						
						<li>Sydney: <%= Time.now.in_time_zone("Sydney").time.strftime("%H:%M:%S")%></li>
						<li>New York: <%= Time.now.in_time_zone("Eastern Time (US & Canada)").time.strftime("%H:%M:%S") %></li>
						
					</ul>	
			</ul>	
				
		</div>
	</div>
</div>