<h6><%=h content_for(:title, "All My Work And Projects / Blaz Sajovic") %></h6>

<div class="row">
	<div class="large-12 small-12 columns">
		<div class="glava">
			<h3>My Projects</h3>
		</div>
	</div>
</div>	
<br/>
<div class="row">
	<div class="large-12 small-12 columns">
		<div class="section-container tabs" data-section="tabs">
			<section class="active">
				<p class="title" data-section-title><%= link_to "Projects", "#panel1", class: "project" %></p>
				<div class="content" data-section-content>


				
					<ul data-orbit >
						<li>
							<img src="assets/Slider/sajovic.jpg" alt="sajovic.me">
							<div class="orbit-caption">My personal website made with Ruby on Rails ...:::sajovic.me</div>
						</li>
						<li>
							<img src="assets/Slider/ammicut.jpg" alt="sajovic.me">
							<div class="orbit-caption">...:::ammicut.com</div>
						</li>
						<li>
							<img src="assets/Slider/lcd-work.jpg" alt="sajovic.me">
							<div class="orbit-caption">Secusifuly LCD repair - testing with Xbox360</div>
						</li>
						<li>
							<img src="assets/Slider/lcd-repair.jpg" alt="sajovic.me">
							<div class="orbit-caption">During LCD reparing</div>
						</li>	
						<li>
							<img src="assets/Slider/work-with-code.jpg" alt="sajovic.me">
							<div class="orbit-caption">Writting a few line of code</div>
						</li>	
						<li>
							<img src="assets/Slider/working-with-laptops.jpg" alt="sajovic.me">
							<div class="orbit-caption">All services are complite with laptops</div>
						</li>	
						<li>
							<img src="assets/Slider/xbox.jpg" alt="sajovic.me">
							<div class="orbit-caption">Flashing Fat Xbox360 LT+</div>
						</li>																																					
					</ul>		





			<div class="joyride-tip-guide">
				<span class="joyride-nub top"></span>
				<div class="joyride-content-wrapper">
					<p>welcome </p>
					<a href="#" class="small button joyride-next-tip"></a>
					<a href="#close" class="joyride-close-tip">&times;</a>
				</div>
			</div>
			<hr>
			<div class="row project-all">
				<div class="large-8 columns">
					<p>I am <span class="siva-bg"><span class="white">Slo</span><span class="blue">ven</span><span class="red">ian</span></span> junor <span class="red">Ruby</span> on <span class="red">Rails</span> developer i have some  
					leanguage knowljič ( html, css , little php ). I working
					with scripts (JavaScript, Jquery, CoffeScript).</p>
					<br/>
					<p>This project was made in <span class="red">Ruby</span> -v<kbd> "2.0.0"</kbd> and <span class="red">Rails</span> -v <kbd>"4.0.0"</kbd>
					I using frimework Zurb Foundation <br/>
					The most advanced responsive front-end framework in the world. - <%= link_to ".::more::.", "http://foundation.zurb.com" %></p>
				</div>
				<div class="large-4 columns">	
					<img src="assets/project/ruby-on-rails.png" alt="ruby on rails" class="ror-png"> 	
				</div>

				<div class="large-12 columns">
					<p>Project have admin panel and dashboard for adding blogs, work and new project</p>
				</div>
				<div class="large-12 columns">
					<img src="assets/project/admin-panel.png" alt="sajovic.me admin panel"><br/><hr/>
					<p>Admin Navigation</p>
					<img src="assets/project/panel.png" alt="sajovic.me panel"><br/><hr/>
					<p>Log In to my application</p>
					<img src="assets/project/log-in.png" alt="sajovic.me log_in">
				</div>	
				<div class="large-12 columns">
					<p>For editing iam using <span class="blue">CKEditor</span>.
					<hr/>
					<span class="blue">CKEditor</span> is a ready-for-use HTML text editor designed to simplify web content creation. It's a WYSIWYG editor that brings common word processor features directly to your web pages. Enhance your website experience with our community maintained editor. </p><br/>
					<%= link_to ".::more::.", "http://ckeditor.com/" %>
					<img src="assets/project/ckeditor.png" alt="sajovic.me ckeditor"><br/>
					<hr>
				</div>

				<div class="large-12 columns">
					<p>Project during development</p>
					<img src="assets/project/project-my.png" alt="sajovic.me project">
				</div>
				<hr/>
				<h5 style="text-align:center;">@RaDIrkA</h5>				
			</div>		

			
			</section>
			
			<section>
    			<p class="title" data-section-title><%= link_to "Reference", "#panel2", class: "project" %></p>
    			<div class="content" data-section-content>
					<% for project in @projects %>
					<ul class="work-list">
						<li><%= project.content.html_safe %></li>
					</ul>
					<hr/>


					<% end %> 
				</div>
    		
  			</section>

			<section>
    			<p class="title" data-section-title><%= link_to "Work", "#panel2", class: "project" %></p>
    			<div class="content" data-section-content>
      				<% for work in @works %>
      				<ul class="work-list">
      					<li><%= work.content.html_safe %></li>
      				</ul>
  					<% end %>	
    			</div>
  			</section>

		</div>
	</div>
</div>



