<h6><%=h content_for(:title, "Admin Panel BS" ) %></h6>
<div class="row">
<div class="large-12 columns">
	<div class="section-container auto" data-section>
		<section class="active">
			<p class="title" data-section-title><a href="#panel1">Dodaj nov blog</a></p>
				<div class="content" data-section-content>
					<div class="glava">
						<p>Write new article, blog or news!</p>
					</div>	
					<%= form_for Blog.new do |f| %>

					<form>
						<div class="row">
						<div class="large-6 columns">  		
      					<div class="glava"><h6><%= f.label :naslov %></h6></div>
      						<%= f.text_field :naslov, placeholder: "Naslov članka"  %>
      					</div>
      					</div>
      					<div class="row">
      					<div class="large-12 columns">
      					<div class="glava"><h6><%= f.label :opis %></h6></div>
      						<%= f.text_area :opis, :cols => "30", :rows => "10", placeholder: "Polje za vnos", class: "ckeditor" %>
   						</div>
   						<hr>
   						<div class="row">
   						<div class="large-10 large-offset-1 columns">  
  							<%= f.submit :Save!, class: "small button secondary" %>
      						<%= link_to 'Back to blogs', blogs_articles_path, class: "small button secondary" %>
      					</div>
      					</div>	
    				</form>
					<% end %>
				</div>		  
		</section>
	
	<section>
    		<p class="title" data-section-title><a href="#panel2">Lista blogov</a></p>
    		<div class="content" data-section-content>
				<div class="glava">
  					<p>Lista vseh blogov</p>
				</div>
				<table>
  					<thead>
    					<tr>
      						<th>Naslov</th>
      						<th>Opis</th>
      						<th>Prikaži</th>
      						<th>Urejaj</th>
      						<th>Izbriši</th>
   						</tr>
  					</thead>
  					<tbody class="tabela">
    					<% @blogs.each do |blog| %>
      					<tr>
        					<td><%= truncate(strip_tags(blog.naslov), length: 25) %></td>
        					<td><%= truncate(strip_tags(blog.opis), length: 100) %></td>
        					<td><%= link_to 'Show', blog, class: "button secondary small" %></td>
        					<td><%= link_to 'Edit', edit_blog_path(blog), class: "button secondary small" %></td>
        					<td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure? You will lost data!' }, class: "button secondary small" %></td>
     					</tr>
    					<% end %>
  					</tbody>
				</table>
				<br>
				   			
    		</div>
  		</section>
		<section>
    		<p class="title" data-section-title><a href="#panel2">Ostalo</a></p>
    		<div class="content" data-section-content>
			
			</div>
  		</section>

	</div>	
</div>	
</div>

