<div class="row">
	<div class="large-6 large-offset-1 columns">
		<div class="glava">
			<h3>BS CMS Access</h3>
		</div>
	</div>
</div>



<div class="row">
	<div class="large-8 large-offset-2 columns">
		<fieldset>
		<legend>Sign In</legend>

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  		<div class="glava"><h6><%= f.label :email %></h6></div>
  			<%= f.email_field :email, :autofocus => true %>
  			</br>
  		<div class="glava"><h6><%= f.label :password %></h6></div>
  			<%= f.password_field :password %>
  		<div class="glava">
  			<% if devise_mapping.rememberable? -%>
    		<h6><%= f.label :remember_me %><%= f.check_box :remember_me %></h6>	 
  		</div>
  		<% end -%>

  		<div class="row">
  			<div class="large-1 large-offset-8 columns">
  				<%= f.submit "Sign in", class: "button secondary small" %>
  			</div>
  		</div>	
		<% end %>

		</fieldset>	
	</div>		
</div>	
		







