<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Blaz Sajovic / Ruby On Rails Developer" %></title>
    <link rel="shortcut icon" href="/assets/bs_logo.png" />
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>


    <%= csrf_meta_tags %>
  </head>

  <body class="ozadje">
  <div class="row"><div class="large-10 columns"><div class="top-hide"></div></div></div>
<% if user_signed_in? %>
  <nav class="top-bar">
    <ul class="title-area">
      
      <li class="divider"></li>
      <li class="name"></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>  
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
        <li><%= link_to "Dashboard", admin_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <li class="divider"></li>
        
      </ul> 
    </section>
   <% else %>    
<% end %>
  </nav>
<% if user_signed_in? %> 
  <div class="row">
    <div class="large-3 large-offset-1 columns  admin-area">
      <span class="radius secondary label welcome">Welcome Back <span class="ime">Blaž</span><span class="smejko"> :-)</span></span>  
  <% else %>
<% end %>    
    </div>
  </div> 

  <div class="row">



    <div class="large-3 small-7 columns">
      <div class="logo">
        <img src="<%= asset_path 'assets/bs_logo.png' %>" alt="Blaz Sajovic logo">
      </div>
      <div class="large-3 small-4 columns">
  
        <ul class="side-nav menu">
          <li class="divider"></li>
          <li><%= link_to_unless_current "About me", domov_path %></li>
          <li class="divider"></li>
          <li><%= link_to_unless_current "Blogs", blogs_articles_path %></li>
          <li class="divider"></li>
          <li><%= link_to_unless_current "My Projects", our_projects_path %></li>
          <li class="divider"></li>
          <li><%= link_to_unless_current "Contact Me", contact_us_path %></li>
          <li class="divider"></li>
        </ul> 
    
        <div class="quotes">
          <h6>Quotes</h6>
        <div class="all_quotes">  
          <h5>The hacker mindset doesn't actually see what happens on the other side, to the victim.</h5>
          <hr>
          <h4>Kevin Mitnick</h4>
        </div>  
        <div class="all_quotes">  
          <h5>“Measuring programming progress by lines of code is like measuring aircraft building progress by weight.”</h5>
          <hr>
          <h4>Bill Gates</h4>
        </div>
        <div class="all_quotes">  
          <h5>“First learn computer science and all the theory.  Next develop a programming style.  Then forget all that and just hack.”</h5>
          <hr>
          <h4>George Carrette</h4>
        </div>

        <div class="all_quotes">  
          <h5>I get hired by companies to hack into their systems and break into their physical facilities to find security holes. Our success rate is 100%; we've always found a hole.</h5>
          <hr>
          <h4>Kevin Mitnick</h4>
        </div>
        <div class="all_quotes">  
          <h5>“Microsoft has a new version out, Windows XP, which according to everybody is the ‘most reliable Windows ever.‘  To me, this is like saying that asparagus is ‘the most articulate vegetable ever.‘ “</h5>
          <hr>
          <h4>Dave Barry</h4>
        </div>      
        <div class="all_quotes">  
          <h5>“Software is like sex: It’s better when it’s free.”</h5>
          <hr>
          <h4>Steve McConnell</h4>
        </div>
      </div>  
    </div>
  </div>


  <div class="large-8 columns">
    <div class="row">
      <div class="large-4 large-offset-3 columns msg">
        <% flash.each do |name, msg| %>
        <span class="label"><%= content_tag :div, msg, id: "flash_#{name}" %></span>
        <% end %> 
      </div>
    </div>  
    <%= yield %>
  </div>

  
  <div class="large-1 small-3 columns social-show">
    <div class="fix">
    
      <ul class="social">
        <h1> Connect</h1>
        <li class="twitter"><p><%= link_to "Twitter", "https://twitter.com/RaDIrkA", :target => "_blank" %></p></li>
        <li class="facebook"><p><%= link_to "Facebook", "https://www.facebook.com/blaz.sajovic.3?ref=tn_tnmn", :target => "_blank" %></p></li>
        <li class="skype"><p><%= link_to "Skype", "skype://radirka8", :target => "_blank" %></p></li>
        <li class="github"><p><%= link_to "GitHub", "https://github.com/RaDIrkA", :target => "_blank" %></p></li>
        <li class="linkedin"><p><%= link_to "LinkedIn", "http://www.linkedin.com/pub/bla%C5%BE-sajovic/80/b39/25", :target => "_blank" %></p></li>
        <p class="zapri" title="Close">&#967;</p>

      </ul>
      
     </div> 
 
  </div>

  

  </div>
  

 



 
  <div class="animate">
  <div class="footer">
  <div class="row footer-bg">
  
    <div class="large-5 columns">
      <div class="footer-nav">
        <ul class="inline-list footer-links">
          <li class="menu-nav"><%= link_to_unless_current "About me", domov_path %></li>
          <li><%= link_to_unless_current "Blogs", blogs_articles_path %></li>
          <li><%= link_to_unless_current "My Projects", our_projects_path %></li>
          <li><%= link_to_unless_current "Contact Me", contact_us_path %></li>
          <li><%= link_to_unless_current "Admin", login_path %></li>
        </ul>
        <p>Copyright &copy; 2013 Blaz Sajovic, All rights reserved.<br>
        Innovative Web & Computers Services &raquo; <%= link_to "Spletko.eu", "http://spletko.eu/", :target => "_blank" %></p>
      </div>
    </div>


    <div class="large-2 columns">
      <%= link_to "Back Top", "#", class: "top" %>  
    </div>
  
    <div class="large-5 columns">
      <div class="footer-links">
        <p>Powered by <%= link_to "Ruby on rails", "http://rubyonrails.org/", :target => "_blank" %><br>
          Build on <%= link_to "Foundation", "http://foundation.zurb.com/", :target => "_blank" %> with my own customizations <br>
          Deployed => <%= link_to "Heroku", "https://www.heroku.com/", :target => "_blank" %><br>
          Git Repository => <%= link_to "GitHub", "https://github.com/", :target => "_blank" %><br>
          Using most customizable editor => <%= link_to "CKEditor", "http://ckeditor.com/", :target => "_blank" %></p> 
      </div>
    </div>

 </div>   
    </div>

  </div>  
  <%= javascript_include_tag "application" %>


  </body>
</html>
